<<<<<<< HEAD
<<<<<<< HEAD
<h1>Your meals here</h1>

<% const days = day.slice(0) %> 

<% console.log("////////", day) %>
<% day.sort((a,b) => a-b) %>

<% recipesList.forEach((recipe, index)=> { %>
    <div>
        <% console.log("*********", day[index]) %>

        <% if (day[index] === 1) { %>
            <h2> Monday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% } else if (!days.includes(1)) { %>
            <h2>Monday</h2>
            <% days.push(1) %> 
            <a href="/user/favorites">Add meal here!</a>
            <% } %>

        
        <% if (day[index] === 2) { %>
            <h2>Tuesday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% } else if (!days.includes(2)){%>
            <h2>Tuesday</h2>
            <% days.push(2) %> 
            <a href="/user/favorites">Add meal here!</a>
            <% } %>

        <% if (day[index] === 3) { %>
            <h2>Wednesday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% } else if (!days.includes(3)) { %>
            <h2>Wednesday</h2>
            <% days.push(3) %> 
            <a href="/user/favorites">Add meal here!</a>
            <% } %>

        <% if (day[index] === 4) { %>
            <h2>Thursday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% } else if (!days.includes(4)) { %>
            <h2>Thursday</h2>
            <% days.push(4) %> 
            <a href="/user/favorites">Add meal here!</a>
            <% } %>

        <% if (day[index] === 5) { %>
            <h2>Friday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% } else if (!days.includes(5)) { %>
            <h2>Friday</h2>
            <% days.push(5) %> 
            <a href="/user/favorites">Add meal here!</a>
            <% } %>


        <% if (day[index] === 6) { %>
            <h2>Saturday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% } else if (!days.includes(6)) { %>
            <h2>Saturday</h2>
            <% days.push(6) %> 
            <a href="/user/favorites">Add meal here!</a>
            <% } %>
=======
<% const dayArray = ['Monday', 'Tuesday', "Wednesday", "Thursday", "Friday", "Saturday" , "Sunday"] %> 
<% const daysUsed = [false, false, false, false, false, false, false] %> 
=======
<% const dayArray=['Monday', 'Tuesday' , "Wednesday" , "Thursday" , "Friday" , "Saturday" , "Sunday" ] %>
<% const daysUsed=[false, false, false, false, false, false, false] %>
>>>>>>> c96ccd8d1fb318143115976e1b101b1efd440ea9

<div class="row">
    <div class="col-md-6">

        <div class="accordion" id="accordionExample">
            <% recipesList.forEach((recipe, index)=> { %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading<%=index%>">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse<%=index%>" aria-expanded="true"
                            aria-controls="collapseOne">
                            <% const currentDay=recipe.day -1 %>
                                <%= dayArray[currentDay] %>
                        </button>
                    </h2>
                    <div id="collapse<%=index%>" class="accordion-collapse collapse show"
                        aria-labelledby="heading<%=index%>" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%- include('../partials/recipeCard', {recipe:recipe, isFavorite:null}) %>
                                <% daysUsed[currentDay]=true %>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
>>>>>>> 0302b471891ac9309fe0fbf05f672bb7796d2be6

    </div>

    <div class="col-md-6 no-plan-section">
        <h2>You didn't plan a meal for these day(s): </h2>
        <hr>
        <% for (let i=0; i < daysUsed.length; i++) { %>
            <% if (!daysUsed[i]) { %>
                <h3>
                    <%= dayArray[i] %>
                </h3>
                <a href="/user/favorites">Add meal here!</a>
                <%}%>
                    <% } %>
    </div>
</div>