<div>
<<<<<<< HEAD
  <h2>How To Make It!</h2>
  <hr>
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-around;">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 34px;"><%= recipe.name %> </h5>
          <img src="<%= recipe.picture %> " alt="yummy photo of recipe">
          <ul>
            <span>You will need these ingredients:</span>
            <%  ingredients.forEach(ingredients =>  { %> 
            <li style="list-style-type: none;"><%= ingredients.dataValues.name %> - <%= ingredients.dataValues.quantity %></li>
=======
  <h2>Let's Make It!</h2>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %> </h5>
          <img class="details-image"src="<%= recipe.picture %> " alt="yummy photo of recipe">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Ingredients</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <%  ingredients.forEach(ingredients =>  { %> 
              <tr>
                <td> <%= ingredients.dataValues.name.charAt(0).toUpperCase() + ingredients.dataValues.name.slice(1) %> </td>
                <td><%= ingredients.dataValues.quantity %> </td>
              </tr>
>>>>>>> 0302b471891ac9309fe0fbf05f672bb7796d2be6
              <% }) %> 
            </tbody>
          </table>
          <ul style="text-align:left; padding-left:0;">
              <% instructions.forEach(instruction => { %>
<<<<<<< HEAD
                  <li><%= instruction.dataValues.step %></li>
=======
                  <li style="list-style-type: none;"> <%= instruction.dataValues.stepNumber %>. <%= instruction.dataValues.step %></li>
>>>>>>> 0302b471891ac9309fe0fbf05f672bb7796d2be6
              <% }) %>
          </ul>
            <% if (isFavorite) { %>
              <% if (isFavorite.includes(recipe.id)) { %>
                <form method="GET" action="/user/calendar/add/<%= recipe.id %>">
                  <button type="submit" class="btn btn-outline-success">Add to calendar</button>
                </form>
                <form method="POST" action="/user/favorites/<%=recipe.id%>/?_method=DELETE">
                  <button type="submit" class="btn btn-danger">Remove from Favorites</button>
                </form> 
              <% } else { %>
                <form method="POST" action="/user/favorites/<%=recipe.id%>">
                  <button type="submit" class="btn btn-outline-success">Add to Favorites</button>
                </form>
              <% } %>
            <% } %>
        </div>
      </div>
    </div>
</div>

